.App {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.job-listing {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  justify-content: flex-start;
  padding-top: 50px;
}

.loader-listing {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  justify-content: space-between;
}

.filter {
  margin-top: 30px;
  display: flex;
  align-items: center;

  > * {
    font-size: 12px !important;
  }
}
.MuiLinearProgress-bar {
  background-color: #939aa0 !important;
}

.info {
  display: inline-block;
}

.info .link {
  color: #8b8b8b !important;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  text-decoration: none;
}

.info .position {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.info .location {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0px;
}
.chip-container {
  padding-left: 16px;
  padding-top: 20px;
}

.card-content {
  padding: 8px 16px;
  display: flex;
  gap: 0.5rem;
}

.card {
  width: 360px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.d-none {
  display: none;
}

.card:nth-child(3n-1) {
  margin-left: 85px;
  margin-right: 85px;
}

.card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.01);
}

.salary-range {
    font-size: 14px !important;
    font-weight: 400;
    margin: 8px 0 0 16px !important;
}

.description-container {
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.description-label {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 !important;
}

.description-content {
  white-space: pre-wrap;
  font-size: 14px;
  margin-top: 0px;
}

.info-container {
  margin-top: 10px;
  padding-left: 16px;
}

.info-container > h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.info-container > h2 {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  font-weight: 400;
}

.show-more-section {
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: #4943da;
  text-transform: capitalize;
  position: absolute;
  bottom: 0px;
}

.button-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
}

.apply-button {
  width: 100%;
  background-color: rgb(85, 239, 196) !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

.referral-button {
  margin-bottom: 10px !important;
  box-shadow: none !important;
  width: 100%;
  background: #520cf3 !important;
}

.chip {
  font-size: 9px !important;
}

.blur {
    filter: blur(2px); /* Adjust the blur radius as needed */
}

.label {
  font-size: 13px;
  font-weight: 500;
}

#role-multi-select {
  min-width: 200px;
}

#location-multi-select {
  min-width: 200px;
  /* margin-right: 8px; */
}

#experience-filter {
  min-width: 120px;
  /* margin-right: 8px !important; */
} 

#min-pay-filter {
  width: 120px;
}

/* Login Component */

.login-window {
  margin: 100px auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 1px 2px 2px rgba(82, 12, 243,0.2);
  padding-bottom: 50px;
}

.login-window .title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 28px;
  margin-top: 0px;
  text-align: center;
  font-weight: 600;
  color: #520cf3;
}

.login-window .login-text-field {
    display: block;
    width: 300px;
    margin-bottom: 16px;
}

.login-window .login-btn {
  width: 100%;
  margin: 0 auto;
  color: white;
  font-weight: 600;
  opacity: 0.9;
  background: #520cf3 !important;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
}

.login-window .login-btn.disabled {
  cursor: not-allowed;
  background: #e8e8e8 !important;
  opacity: 1;
}

.login-window .login-btn.disabled:hover {
  /* background: ; */
}

.login-window .login-btn:hover {
  opacity: 1;
}